<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717272588791-t67qhcai4o0ritrtu6hhag2d62nd31tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717272588791-t67qhcai4o0ritrtu6hhag2d62nd31tr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>717272588791-prufpuarbf77vogdn4vfhusvhojj92jh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKICkyupKFyxW3AV-XvpNvVvOAog-L9Lw</string>
	<key>GCM_SENDER_ID</key>
	<string>717272588791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.cryptocurrencyApp</string>
	<key>PROJECT_ID</key>
	<string>sbs-trading-29380</string>
	<key>STORAGE_BUCKET</key>
	<string>sbs-trading-29380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717272588791:ios:3f5603c1bc645334100ef2</string>
</dict>
</plist>